{% extends "base.html" %}

{% block content %}

<div class="wrapper-outer">
	<div class="main-block">
		<h4 class="service-heading">Create New Category</h4>
	</div>

	<div class="wrapper">		
		<form method="post" name="category_form" id="category_form">
		  {% csrf_token %}
		  <div class="form-group">
		  	{{ form.name.label_tag  }}
			{{ form.name  }}
			{{ form.errors.name }}
		  </div>
		  <button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>

</div>	
{% endblock %}