{% extends "base.html" %}

{% block content %}

<div class="wrapper-outer">
<div class="main-block">
	<div class="left-block">
	<h4 class="service-heading">Products</h4>
	</div>
	<div class="right-block">
	<a href="{% url 'product-create' %}" class="tag-class">Create new product</a>
	</div>	
</div>

{% if object_list %}
<table class="table  table-striped table-hover">
	<thead>
		<tr>
		<th>Title</th>
		<th>Description</th>
		<th class="second-col"></th>
		</tr>	
	</thead>
	<tbody>
    {% for product in object_list %}
	<tr>
    <td>{{ product.title }}  </td>
	<td>{{ product.description }}  </td>
    <td class="second-col"><a href="{% url 'product-update' product.id %}">edit</a> | <a href="{% url 'product-delete' product.id %}">delete</a></td>
    </tr>
    {% endfor %}
	</tbody>
</table>
{% else %}

<p>No data found</p>

{% endif %}

</div>
{% endblock %}